@model IEnumerable<Marketeers.Models.ProductModel>

<header>
    <link rel="stylesheet" href="~/css/LogAndReg.css" />
</header>
<section class="market-container">
    <table class="table">
        <thead>
            <h3 style="text-align:center">Products</h3>
            <hr />
        </thead>
        <tbody>
            <tr class="mx-3">
                <div class="card-columns">
                    @foreach (var item in (IEnumerable<ProductModel>)TempData["product"])
                    {
                        var quantity = 0;

                        int addOne(int quantity)
                        {
                            return quantity += 1;
                        }
                        int minusOne(int quantity)
                        {
                            return quantity -= 1;
                        }

                        <div class="card" style="width:400px">
                            <img class="card-img-top" src="~/Img/food-ConvertImage.jpg" alt="Card image">
                            <div class="card-body text-center">
                                <h4 class="card-title">@Html.DisplayFor(modelItem => item.Itemname)</h4>
                                <p class="card-text"><b>Price:</b> $@Html.DisplayFor(modelItem => item.price)</p>
                                <p class="card-text"><b>Amount available:</b> @Html.DisplayFor(modelItem => item.quantity)</p>

                            <p> Quantity </p>
                            <div class="input-group mb-3 center">
                                <input type="number" id="quantity" name="quantity" min="0" max="@item.quantity">
                                <button onclick="location.href='@Url.Action("GetOrderSubmission", "Order", new { productid = item.Id, marketid = item.Marketid, customerid = @ViewBag.CustomerID })'" type="button" class="btn btn-dark">Add</button>
                            </div>
                        </div>
                    </div>

                        <script>
                            function increment() {
                                document.getElementById("quant").stepUp();
                            }
                            function decrement() {
                                document.getElementById("quant").stepDown();
                            }
                        </script>
                    }
                </div>
            </tr>
        </tbody>
    </table>
 </section>
